/*
Theme Name: NODDSoc
Theme URI: http://simongt.com
Description: Modified version of the TwentyFifteen theme.
Author: Simon Turner
Author URI: http://simongt.com
Template: twentyfifteen
Version: 0.1.2
*/

body{
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	background-color: #cfdae8;
	-webkit-font-smoothing: antialiased;
}

blockquote{
	font-style: italic;
	border-left: 5px solid rgba(0,0,0,0.6);
}

.content-area img{
	max-width: 50%;
	box-shadow: 0 0 2px rgba(0,0,0,0.6);
	padding: 10px;
	margin-bottom: 10px;
}

.aligncenter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	display: inline;
	margin-right: 20px;
}

.alignright {
	float: right;
	display: inline;
	margin-left: 20px;
}

.page-title{
	padding: 15px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: #5E5E5E;
	font-family: 'Kreon', 'serif';
	font-weight: bold;
	font-size: 2.5em;
	border-left: 5px solid #0095ff;
	color: #fff;
}

.no-results{
	margin-left: 15px;
}

.content-area{
	margin: 0 auto;
	width: 60%;
	background-color: #fff;
	margin-top: 10px;
	padding-top: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-bottom: 5px solid #ff6600;
}

.banner-image{
	width: 100%;
	height: 200px;
	background-image: url("http://noddsoc.co.uk.gridhosted.co.uk/wp-content/uploads/2015/09/headernoddsoc.png");
	margin-bottom: 1.6em;
}

.banner-image-2 {
	width: 100%;
	height: 200px;
	background-image: url("http://noddsoc.co.uk.gridhosted.co.uk/wp-content/uploads/2015/09/noddsocheader21.png");
	margin-bottom: 1.6em;
}

.post-edit-link, .comments-link{
	font-weight: bold;
}

.updated {
	margin-left: 10px;
}

.entry-footer{
	background-color: #0095ff;
	padding: 10px;
}

.entry-footer a{
	color: #fff;
	text-decoration: none;
}

.entry-footer span{
	margin: 10px 10px 10px 0;
}

.entry-content p{
	padding: 0 15px;
	margin-bottom: 1.6em;
	margin-top: 0;
	color: #4f4d4b;
}

.entry-content ul li{
	padding: 0 15px;
	color: #4b4b4b;
	margin-bottom: 1.6em;
}

.entry-content ul {
	margin: 0 15px 1.6em 15px;
}

.entry-content a{
    text-decoration: none;
    border-bottom: 1px dashed;
    color: #005FA3;
    font-weight: bold;
    padding: 2px;
}

.entry-content a:hover{
	color: #0095ff;
}

.entry-content{
	line-height: 1.6em;
}

.entry-title{
	background-color: #005fa3;
	padding: 10px;
	color: #fff;
	font-family: 'Kreon', serif;
	box-shadow: 0 3px #ccc;
}

h1.entry-title{
	margin: 0;
	position: relative;
	bottom: 30px;
}

.entry-title a{
	color: #fff;
	text-decoration: none;
}

.site-header{
	background-color: #0095ff;
	border-bottom: 5px solid #005fa3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center;
	max-width: 100%;
}

.site-logo{
	width: 50px;
	height: auto;
	margin-left: 10px;
}

.site-title{
	margin-left: 10px;
	font-family:'IM Fell English', serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}

.site-title a{
	transition: color 0.5s ease;
}

.site-title a:hover{
	color: #005fa3;
}

.page-nav{
	margin-left: auto;
	margin-right: 10px;
	padding: 0;
	color: #fff;
}

.page-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.page-nav li{
	display: inline;
	text-decoration: none;
	padding: 10px;
	background-color: #0095ff;
	transition: background-color 0.5s ease;
	font-family: 'Kreon', serif;
	font-weight: 700;
	font-style: bold;
}

.page-nav a, .site-title a{
	text-decoration: none;
	color: #fff;
}

.page-nav li:hover{
	background-color: #005fa3;
}

.comment-list{
	padding-left: 15px;
}

.comments-area{
	 background-color: #bdd6de;
	 padding: 15px;
	 margin-top: 20px;
}

.comment-reply-title{
	margin-top: 0;
}

.comment-form-comment label{
	display: block;
	size: 1.2em;
	font-weight: bold;
	padding: 5px;
	background-color: #005fa3;
	color: #fff;
}

.comment-form-comment{
	background-color: #fff;
	max-width: 100%;
}


.comment-form-comment textarea{
	outline: none;
	border: none;
	resize: none;
	padding: 10px;
	font-size: 1.2em;
	max-width: 80%
}

.comment-form-author input, .comment-form-email input, .comment-form-url input{
	margin-top: 5px;
	display: block;
	max-width: 80%;
}

.comment-form-author label, .comment-form-email label, .comment-form-url label{
	font-weight: bold;
}

.comment{
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	margin-bottom: 20px;
}

.comment a{
	text-decoration: none;
	padding-right: 5px;
	font-weight: bold;
	color: #005fa3;
}

.comment-body{
	margin-bottom: 20px;
}

.form-allowed-tags{
	background-color: #80c5ff;
	padding: 17px;
}

p.comment-form-comment{
	margin-bottom: 0;
}

p.form-allowed-tags{
	margin-top: 0;
}

.comments-title{
	background-color: #005fa3;
	padding: 15px;
	color: #fff;
	border-top: 7px solid #0095ff;
}

p.logged-in-as{
	margin-top: 0;
}

.logged-in-as{
	background-color: #0095ff;
	padding: 10px;
	width: 80%;
	color: #fff;
}

.logged-in-as a{
	color: #4f4d4b;
	text-decoration: none;
	transition: 0.5s ease color;
}

.logged-in-as a:hover{
	color: #005fa3;
}

.comment-reply-title{
	background-color: #005fa3;
	padding: 15px;
	margin-bottom: 0;
	color: #fff;
}

.comment-author img{
	vertical-align: middle;
	border-radius: 50%;
}

.comment-author{
	margin-bottom: 10px;
	width: 60%;
}

.comment-meta{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #4f4d4b;
}

.comment-metadata{
	padding: 10px 0;
	position: relative;
	top: 10px;
}

a.comment-edit-link, a.comment-reply-link{
	color: #4f4d4b;
	transition: 0.5s ease color;
}

.reply{
	margin-bottom: 10px;
}

a.comment-edit-link:hover, a.comment-reply-link:hover{
	color: #0095ff;	
}

.submit{
	border: none;
	background: none;
	background-color: #0095ff;
	padding: 10px;
	border-bottom: 3px solid #005fa3;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	transition: 0.5s ease background-color;
}

.submit:hover{
	background-color: #54BAD6;
}

.submit:active{
	background-color: #005fa3;
}

.site-footer{
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	width: 60%;
	padding: 10px;
}

.site-footer a{
	color: #4f4d4b;
	text-decoration: none;
	font-weight: bold;
	margin-right: 10px;
}

@media all and (max-width: 750px) {
	.content-area{
		width: 100%;
	}

	.content-area img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	.site-footer{
		width: 100%;
	}
}

@media all and (max-width: 1024px) and (min-width: 751px) {
	.content-area{
		width: 80%;
	}

	.site-footer{
		width: 80%;
	}
}